{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'include_css.html' %}
    <title>Registration</title>
</head>
<body>
        <main role="main" class="container">
                <div class="starter-template">
                    <h1>Blogspot</h1>
                    <h1><span class="badge badge-default">You can share any ideas of yours!</span></h1>
                    <p class="lead">Anything you want or wanted to write. You can do it here for free.<br>Just Join Us.</p>
                    <p>Or if you already have account you can <a href="{% url 'login' %}">Sign In</a></p>
                </div>
        </main>

    <form action="" method="POST">
        <div class="container col-3">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <div>
        
    </form>
</body>
</html>